*.pyc
.gitignore.swp
*egg-info*
docs/screenshots/
build/
dist/
bin/
node_modules/*
.idea/*
.pypirc


django_slick_admin/sass
django_slick_admin/tools
django-slick-admin-styles
package-lock.json
/django_slick_admin/static/django_slick_admin/bundle.js
/django_slick_admin/static/django_slick_admin/cms-styles.js
