//##############################################################################
// HEADER




#header
  background-color: $toolbar-bg
  color: $toolbar-color
  height: $toolbar-height
  padding: 10px $page-outer-spacing

  h1
    color: $toolbar-color
    font-size: 18px


  h1, a, span
    line-height: 48px

#branding h1 a:link, #branding h1 a:visited, #header a:link, #header a:visited
  color: $toolbar-link-color
  cursor: pointer

  &:hover
    border-color: $toolbar-link-color

#header-logo
  float: left
  margin-right: 15px
  span
    display: none

  .graphics.icecream
    width: 48px
    height: 48px
    vertical-align: middle

#header-logo, #header h1
  float: left

#user-tools
  a
    margin-left: 5px
    margin-right: 5px

