@charset "UTF-8"


// #COLORS#
$white: #fff
$black: #000

$color-primary: #0cc2aa
$color-secondary: #a88add
$color-success: #75cb8f
$color-danger: #f55060
$color-warning: #fcc100
$color-window: #fcfcfc

// #COLORS gray
$gray:            lighten($black, 40%) // #666;
$gray-lightest:   lighten($gray, 55%) // #f2f2f2
$gray-lighter:    lighten($gray, 46.5%) // #ddd
$gray-light:      lighten($gray, 20%) // #999
$gray-darker:     darken($gray, 13%) // #454545
$gray-darkest:    darken($gray, 20%) // #333
$gray-super-light: #f7f7f7

$color-success-dark: darken($color-danger, 20%)
$color-primary-dark: darken($color-primary, 20%)


//FONTS ////////////////////////////////////
$font-color: #666
$font-size-large: 16px
$font-size-small: 12px
$font-size-normal: 15px



//DEFAULTS ////////////////////////////////////
$element-default-shadow: 0 0 1px rgba(0,0,0,.15)
$page-outer-spacing: 5%


//LINK STYLES ////////////////////////////////
$link-default-color: $color-primary
$link-default-hover-color: darken($color-primary, 15%)
$link-highlight-color: $color-danger
$icon-spacing: 7px
$icon-size: 18px

//CHANGE-LIST STYLES ////////////////////////////////
$changelist-hover-color: lighten($color-secondary, 20)
$changelist-selected-color: lighten($color-secondary, 10)

//FORM DEFAULTS ////////////////////////////////////
$form-default-bg: $white
$form-select-border-color: $gray-lighter
$form-select-border-radius: .25rem
$form-default-height: 32px
$form-input-color: $gray-darker
$form-outer-spacing: 30px
$form-focus-border-color: $gray-darkest
$form-focus-background-color: $gray-super-light
$form-focus-color: $gray-darkest

//DASHBOARD ////////////////////////////////////
$body-bg: #f0f0f0
$dashboard-row-background: $white
$dashboard-row-border-color: $gray-lightest
$dashboard-link-color: $color-primary
$dashboard-quicklinks-bg: $white
$dashboard-postit-bg: $color-secondary
$dashboard-postit-color: $white
$dashboard-date-bullet-bg: $color-primary
$dashboard-date-bullet-color: $white
$dashboard-date-bullet-size: 64px

//BREADCRUMBS TOOLBAR ////////////////////////////////////
$breadcrumbs-bar-height: 46px
$breadcrumbs-bar-bg: #e8e8e8

//BUTTON STYLES ////////////////////////////////
$btn-default-height: 30px
$btn-border-size: 0px
$btn-border-radius-base: .25rem
$btn-active-shadow: 0

//button default
$btn-default-color: $gray-darkest
$btn-default-bgcolor: lighten($gray-lighter, 5%)
$btn-default-border: transparent

//button action
$btn-action-color: $white
$btn-action-bgcolor: $color-primary
$btn-action-border: transparent

//button light
$btn-light-color: $gray-darkest
$btn-light-bgcolor: $white
$btn-light-border: transparent

//button danger
$btn-danger-color: $white
$btn-danger-bgcolor: $color-danger
$btn-danger-border: transparent


//button dashboard
$btn-dashboard-color: $color-primary
$btn-dashboard-bgcolor: $white
$btn-dashboard-border: $gray-lightest

$btn-dashboard-action-color: $color-secondary
$btn-dashboard-action-bgcolor: $white
$btn-dashboard-action-border: $gray-lightest




//SUBMIT ROW  ////////////////////////////////
$submit-row-bg: darken($white, 3)


//LANGUAGE BAR ////////////////////////////////
$lang-bar-border-height: 3px
$lang-bar-border-color: $color-primary
$lang-bar-available-color: $color-primary
$lang-bar-available-bgcolor: $white
$lang-bar-current-color: $white
$lang-bar-current-bgcolor: $color-primary
$lang-bar-empty-color: $gray-darker
$lang-bar-empty-bgcolor: darken($gray-lightest, 15%)


//TOOLBAR BAR ////////////////////////////////
$toolbar-height: 46px
$toolbar-bg: $white
$toolbar-link-color: $color-secondary
$toolbar-color: $gray
$toolbar-shadow: 0 0 5px rgba(0,0,0,.2)
$toolbar-right-space: 20px
$toolbar-left-space: 20px
$toolbar-margin-button: 0px
$toolbar-button-font-size: 12px
$toolbar-button-height: 30px

$toolbar-menu-shadow: 0 1px 1px rgba($black, .4)
$toolbar-menu-border-radius: 0 0 0 0

$branding-color: $black
$branding-hover-color: $color-primary

//FILER  ////////////////////////////////
$filer-action-color: $color-primary
$filer-drag-bg: lighten($color-secondary, 20)

//SIDE-BAR ////////////////////////////////
$sidebar-width: 25%

//FORMS ////////////////////////////////
$form-bg: $white


//COLLAPSIBLE FIELDSETS ////////////////////////////////
$collapse-hilight-color: $color-primary
$collapse-border-color: lighten($gray-lighter, 4)
$collapse-border-left-size: 3px
$collapse-background-color: darken($white, 2)
$expanded-border-color: $collapse-hilight-color

$collapse-header-bg: transparent


//SELECTOR WIDGET ////////////////////////////////
$selector-bg: $white
$selector-height: 150px
$selector-filter-height: 50px
$selector-item-border: $gray-lightest
$selector-chosen-color: $color-primary